RewriteEngine On
RewriteBase /noble/

# Redirect /noble/home to /noble/
RewriteRule ^home/?$ / [R=301,L]

# Allow direct access to real files and folders
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Exclude admin from routing
RewriteCond %{REQUEST_URI} !^/noble/loginpage/admin/
# Route everything else to index.php
RewriteRule ^(.*)$ index.php [QSA,L]